option_settings:

  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-1:100225593120:certificate/047a56a2-09dd-4857-9f28-32d23650d4da
    ListenerProtocol: HTTPS
    InstancePort: 8080
    InstanceProtocol: HTTP

  aws:elb:listener:444:
    SSLCertificateId: arn:aws:acm:us-east-1:100225593120:certificate/047a56a2-09dd-4857-9f28-32d23650d4da
    ListenerProtocol: HTTPS
    InstancePort: 5000
    InstanceProtocol: HTTP

  aws:elb:listener:8080:
    ListenerProtocol: HTTP
    InstancePort: '8080'
    InstanceProtocol: HTTP

  aws:elb:listener:5000:
    ListenerProtocol: HTTP
    InstancePort: '5000'
    InstanceProtocol: HTTP

  aws:elb:listener:8983:
    ListenerProtocol: HTTP
    InstancePort: '8983'
    InstanceProtocol: HTTP

  aws:elb:listener:5432:
    ListenerProtocol: HTTP
    InstancePort: '5432'
    InstanceProtocol: HTTP

  aws:elb:healthcheck:
    Target: HTTP:8080/

  aws:elb:listener:
    ListenerEnabled: false

  aws:elb:loadbalancer:
    SecurityGroups: sg-21ac675b
